@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "ZCOOL KuaiLe", cursive;
  font-size: 18px;
  height: 100%;
}

body {
  background-color: #dab595;
  position: relative;
  min-height: 100%;
}
